.chat-history {
  border: 1px solid var(--pico-primary-background);
  border-radius: 4px;
  height: 77vh;
  padding: 16px;
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

#chatHistory {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.chat-message {
  border-radius: 5px;
  margin-bottom: 8px;
  max-width: 56%;
  padding: 4px 8px;
  width: fit-content;
  word-wrap: break-word;
}

.chat-message.user-input {
  align-self: flex-end;
  background-color: var(--pico-primary-background);
  color: white;
  text-align: right;
}

.chat-message.ai-response {
  background-color: var(--pico-primary-focus);
  text-align: left;
}

.submit-group {
   max-width: 92vw;
}

#footer {
    padding: 0;
    position: fixed;
    bottom: 3vh;
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 28px;
    line-height: 28px;
    margin: 0;
}

.navbar {
    height: 6vh;
}

nav details.dropdown summary:not([role]) {
    height: 36px;
    padding: 4px 8px;
}

.poem {
    margin-bottom: 16px;
}

.poem span {
    display: block;
}

.poem::after {
    background-color: #333;
    color: #333;
    content: '';
    display: block;
    height: 1px;
    margin: 36px 0;
    width: 120px;
}

@media (max-width: 900px) {

    h1 {
        font-size: 20px;
        line-height: 20px;
    }

    main {
        height: 84vh;
    }

    .chat-history {
        height: 100%;
        padding: 8px 8px;
    }

    #footer {
        bottom: 0;
        height: 9vh;
    }

    .chat-message {
        max-width: 90%;
    }
}

/**
 * ==============================================
 * Dot Flashing
 * ==============================================
 */
.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}
.dot-flashing::before, .dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
}
.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
}

.chat-message.ai-loading {
    align-items: center;
    display: none;
    height: 28px;
    justify-content: center;
    text-align: center;
    width: 60px;
}

@keyframes dot-flashing {
  0% {
    background-color: #9880ff;
  }
  50%, 100% {
    background-color: rgba(152, 128, 255, 0.2);
  }
}