{% include 'layout.html' %}

<div class="container mt-5">
  <main>
      <div class="card-body chat-history" id="chatBody">
        <div class="chat-message ai-response">
          Hi! How's it going?
        </div>
        <div class="chat-message ai-response">
          What can I help you with?
        </div>
        <div id="chatHistory">
        <!-- auto populate here -->
        {% for response in chat_responses %}
          <div class="{{ 'chat-message user-input' if loop.index0 is even else 'chat-message ai-response' }}">
            {{ response }}
          </div>
        {% endfor %}
        </div>

        <div id="bot-loading" class="chat-message ai-response ai-loading">
          <div class="dot-flashing"></div>
        </div>
      </div>
  </main>

  <div class="container" id="footer">
    <form>
      <fieldset class="submit-group" role="group">
        <input class="form-control" placeholder="Add input here" id="userInput">
        <button class="btn btn-outline-primary" type="button" id="sendButton">Send</button>
      </fieldset>
    </form>
  </div>

</div>

<script>
  var websocketString = '';
  if (window.location.hostname === '127.0.0.1') {
    websocketString = "ws://localhost:8000/ws";
  } else {
    websocketString=`wss://${window.location.hostname}/ws`
  }

  var ws = new WebSocket(websocketString);

  var sendButton = document.getElementById("sendButton");
  var userInput = document.getElementById("userInput");
  var chatBody = document.getElementById('chatBody');
  var chatHistory = document.getElementById("chatHistory");
  var lastUserMessageDiv = null; // Keep track of the last user message div
  var isNewUserInput = true; // Flag to track when a new user input happens

  const setLoading = isLoading => {
    var botLoading = document.getElementById('bot-loading');
    botLoading.style.display = isLoading ? 'flex' : 'none';
  }

  ws.onmessage = function(event) {
    setLoading(false);
    var message = event.data.trim(); // Trim whitespace from the message

    // Check if it's a continuation of the AI's last message or a new one
    if (lastUserMessageDiv && !isNewUserInput) {
      var shouldAddSpace = true;
      var noPrependSpaceChars = [',', '.', '!', '?', ';', ':', "'"];

      if (noPrependSpaceChars.includes(message.charAt(0))) {
          shouldAddSpace = false;
      }

      lastUserMessageDiv.textContent += (shouldAddSpace ? " " : "") + message;
    } else {
      // It's either a new user input or the first chunk of AI response for the latest input
      var messageDiv = document.createElement("div");
      messageDiv.className = "chat-message ai-response"; // Assign class for styling
      messageDiv.innerHTML = message.replaceAll('\n', '<br />');
      chatHistory.appendChild(messageDiv);
      chatBody.scrollTop = chatBody.scrollHeight;
      lastUserMessageDiv = messageDiv; // Update the reference to the last message div
      isNewUserInput = false; // Reset the flag as the AI response starts
    }
  };

  sendButton.onclick = () => sendMessage()

  // Add event listener for the Enter key
  document.getElementById('userInput').addEventListener('keypress', function(event) {
      if (event.key === 'Enter') {
          sendMessage();
          event.preventDefault(); // Prevent form submission if inside a form
      }
  });

  var sendMessage = function() {
    var pathname = window.location.pathname;
    var message = userInput.value.trim();
    if (message) {
      var userInputDiv = document.createElement("div");
      userInputDiv.className = "chat-message user-input"; // Use user-input class for user messages
      userInputDiv.textContent = message;
      chatHistory.appendChild(userInputDiv);

      chatBody.scrollTop = chatBody.scrollHeight;

      var user_message = message;

      if (pathname === '/mkm') user_message = 'mkm: ' + message;
      if (pathname === '/vampire-heights') user_message = 'vampire: ' + message;
      if (pathname === '/claude') user_message = 'claude: ' + message;

      setLoading(true);

      ws.send(user_message);
      userInput.value = "";
      isNewUserInput = true; // Set the flag as it's a new user input
      lastUserMessageDiv = null; // Prepare for the next message
    }
  };
</script>