{% include 'layout.html' %}

<div class="container mt-5">
  <main>
      <div class="card-body chat-history" id="chatBody">
        <div class="chat-message ai-response">
          Hi! How's it going?
        </div>
        <div class="chat-message ai-response">
          What can I help you with?
        </div>
        <div id="chatHistory">
        <!-- auto populate here -->
        {% for response in chat_responses %}
          <div class="{{ 'chat-message user-input' if loop.index0 is even else 'chat-message ai-response' }}">
            {{ response | safe }}
          </div>
        {% endfor %}
        </div>

        <div id="bot-loading" class="chat-message ai-response ai-loading">
          <div class="dot-flashing"></div>
        </div>
      </div>
  </main>

  <div class="container" id="footer">
    <div class="submit-group">
      <textarea 
        class="message-input" 
        placeholder="Type your message here... (Shift+Enter for new line, Enter to send)"
      ></textarea>
      <button class="submit-button">Send</button>
    </div>
  </div>

</div>

<link rel="stylesheet" href="static/css/chat.css">
<script src="/static/js/chat.js"></script>