<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/static/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="/static/pico-main/css/pico.violet.min.css">
        <link rel="stylesheet" type="text/css" href="/static/main.css">
        <link rel="stylesheet" type="text/css" href="/static/css/chat.css">
        <link rel="manifest" href="/static/manifest.json" />
        <link rel="apple-touch-icon" href="/static/ios/192.png" />
        <title>mkm chatbot</title>
        <script>
            var pathname = window.location.pathname;
            let root = document.documentElement;
            root.style.setProperty('--pico-primary-focus', 'rgb(167 128 212 / 26%)');

            if (pathname === '/' || pathname === '/beach-poems') {
                root.style.setProperty('--pico-primary', "#428eff");
                root.style.setProperty('--pico-primary-background', "#457ce6");
                root.style.setProperty('--pico-primary-hover', "#355eb3");
                root.style.setProperty('--pico-primary-hover-background', "#355eb3");
                root.style.setProperty('--pico-primary-underline', "rgb(82 120 197 / 50%)");
                root.style.setProperty('--pico-primary-focus', 'rgb(172 210 243 / 50%)');
                root.style.setProperty('--pico-text-selection-color', 'rgb(172 210 243 / 25%)');
            }

            if (pathname === '/vampire-heights') {
                root.style.setProperty('--pico-primary', "#ff4242");
                root.style.setProperty('--pico-primary-background', "#e64545");
                root.style.setProperty('--pico-primary-hover', "#b33557");
                root.style.setProperty('--pico-primary-hover-background', "#b33557");
                root.style.setProperty('--pico-primary-underline', "rgb(197 82 95 / 50%)");
                root.style.setProperty('--pico-primary-focus', 'rgb(243 172 172 / 50%)');
                root.style.setProperty('--pico-text-selection-color', 'rgb(243 172 172 / 25%)');
            }

            if (pathname === '/claude') {
                root.style.setProperty('--pico-primary', "#d95608");
                root.style.setProperty('--pico-primary-background', "#d74f00");
                root.style.setProperty('--pico-primary-hover', "#cf4300");
                root.style.setProperty('--pico-primary-hover-background', "#d33f04");
                root.style.setProperty('--pico-primary-underline', "rgb(255 106 16 / 50%)");
                root.style.setProperty('--pico-primary-focus', 'rgb(251 163 68 / 50%)');
                root.style.setProperty('--pico-text-selection-color', 'rgb(255 127 76 / 25%)');
                root.style.setProperty('--pico-muted-color', '#646b79');
                root.style.setProperty('--pico-muted-border-color', '#f0eae7');
            }
        </script>
    </head>
    <body>
        {% include 'navbar.html' %}

        {% block content %}
        {% endblock %}

    </body>
    <script>
        window.addEventListener('load', () => {
          registerSW();
        });

        // Register the Service Worker
        async function registerSW() {
          if ('serviceWorker' in navigator) {
            try {
              await navigator
                    .serviceWorker
                    .register('/static/service-worker.js');
            }
            catch (e) {
              console.log('SW registration failed');
            }
          }
        }
     </script>
</html>