<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="/static/pico-main/css/pico.violet.min.css">
        <link rel="stylesheet" type="text/css" href="/static/main.css">
        <title>Chatbot</title>

    </head>
    <body>
        {% include 'navbar.html' %}

        {% block content %}
        {% endblock %}

    </body>
</html>