<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/static/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="/static/pico-main/css/pico.violet.min.css">
        <link rel="stylesheet" type="text/css" href="/static/main.css">
        <link rel="manifest" href="/static/manifest.json" />
        <link rel="apple-touch-icon" href="/static/ios/192.png" />
        <title>mkm chatbot</title>

    </head>
    <body>
        {% include 'navbar.html' %}

        {% block content %}
        {% endblock %}

    </body>
    <script>
        window.addEventListener('load', () => {
          registerSW();
        });

        // Register the Service Worker
        async function registerSW() {
          if ('serviceWorker' in navigator) {
            try {
              await navigator
                    .serviceWorker
                    .register('/static/service-worker.js');
            }
            catch (e) {
              console.log('SW registration failed');
            }
          }
        }
     </script>
</html>