<nav class="navbar navbar-light bg-light">
  <div class="container nav-container">
    <h1><a href="https://melissakate.com">melissakate.com</a></h1>

    <details class="dropdown">
      <summary>Chat Select</summary>
      <ul>
        <li><a href="/">Ocean Chat</a></li>
        <li><a href="/mkm">MKM Chat</a></li>
        <li><a href="/vampire-heights">Book Chat</a></li>
        <li><a href="/claude">Vanilla Chat</a></li>
        <li><a href="/beach-poems">Beach Poems List</a></li>
      </ul>
    </details>
  </div>
</nav>